* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header {
  width: 90%;
  padding: 20px 0;
  text-align: center;
}

.heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  width: 200px;
  height: 200px;
  background-color: #e5ffe9;
}

.content2 {
  width: 200px;
  height: 200px;
  background-color: #cdffd3;
}

.content3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.content4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.content5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.content6 {
  width: 200px;
  height: 200px;
  background-color: edffbe;
}

.content7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.content8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.content9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.content10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.content11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.content12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
