* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-box {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
}

.list {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.list:nth-child(odd) {
  background-color: #c0c0c0;
}

.list:nth-child(even) {
  background-color: #ffffff;
}

.color-box {
  width: 960px;
  height: 690px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
}

.box:nth-child(1) {
  background-color: orange;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:nth-child(2) {
  background-color: yellow;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:nth-child(3) {
  background-color: yellow;
  margin-bottom: 40px;
}

.box:nth-child(4) {
  background-color: yellow;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:nth-child(5) {
  background-color: orange;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:nth-child(6) {
  background-color: yellow;
  margin-bottom: 40px;
}

.box:nth-child(7) {
  background-color: yellow;
  margin-right: 5%;
}

.box:nth-child(8) {
  background-color: yellow;
  margin-right: 5%;
}

.box:nth-child(9) {
  background-color: orange;
}
