* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  margin: 20px;
}

main {
  width: 840px;
  margin: 20px auto;
}

.main-box1 {
  padding: 30px 0;
  border-bottom: 1px solid #a7a7a7;
}

.main-box2 {
  padding: 30px 0;
  border-bottom: 1px solid #a7a7a7;
}

.main-box3 {
  padding: 30px 0;
  border-bottom: 1px solid #a7a7a7;
}

.main-box4 {
  padding: 30px 0;
  border-bottom: 1px solid #a7a7a7;
}
